/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*variable definitions*/
:root{
    /*colours [l - light, m - medium, d - dark, b - bold]*/
    --greenL: #e3fde3;
    --greenM: #3b5f35;
    --greenD: #294a23;

    --redL: #ffe5e5;
    --redM: #5f3535;
    --redD: #4e1f1f;
    --redB: #892624;

    --blueL: #d4efff;
    --blueM: #355167;
    --blueD: #1f3b4e;

    --yellowL: #ffeeda;
    --yellowB: #bf6600;

    --purpleL: #e7d4ff;
    --purpleM: #49355f;
    --purpleD: #361f4e;

    --grey: #d9d9d9;

    /*text styles*/
    --ff1: "DM Serif Display", perpetua, serif;
    --ff2: "Roboto Mono", "MS Reference Sans Serif", sans-serif;
    
    /*spacings*/
    --sp1: 5px;
    --sp2: 10px;
    --sp3: 20px;
    --sp4: 45px;
    --sp5: 75px;
}

h1, h2 {
    font-family: var(--ff1);
}

h1 {
    font-size: larger;
}

p { 
    font-family: var(--ff2);
}

body {
    background-color: var(--greenL);
    padding: var(--sp3) var(--sp4);
    justify-content: center;
}

.container {
    background-color: var(--greenM);
    
    margin: auto;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;
    
    max-width: 1570px;
    min-width: 625px;
    
    border-radius: 50px;
    border: 4px solid var(--greenD)
}

.contHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;

    gap: var(--sp4);
    
    justify-content: center;
    align-items: center;
    
    padding: var(--sp1);
}

.contBody {
    background-color: white;
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;
    
    /*cheat design until can fix slight pixel issue*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    border-bottom-left-radius: 46px;
    border-bottom-right-radius: 46px;

    border-top: 2px solid var(--grey);

    padding: var(--sp1);
}

.whiteTxt {
    color: white;
}