/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*variable definitions*/
:root{
    /*colours [l - light, m - medium, d - dark, b - bold]*/
    --greenL: #e3fde3;
    --greenM: #3b5f35;
    --greenD: #294a23;

    --redL: #ffe5e5;
    --redM: #5f3535;
    --redD: #4e1f1f;
    --redB: #892624;

    --blueL: #d4efff;
    --blueM: #355167;
    --blueD: #1f3b4e;

    --yellowL: #ffeeda;
    --yellowB: #bf6600;

    --purpleL: #e7d4ff;
    --purpleM: #49355f;
    --purpleD: #361f4e;

    --grey: #d9d9d9;

    /*text styles*/
    
    /*spacings*/
    --sp1: 5px;
    --sp2: 10px;
    --sp3: 20px;
    --sp4: 45px;
    --sp5: 75px;
}

body {
    background-color: var(--greenL);
    padding: var(--sp4) var(--sp5);
}

.container {
    background-color: white;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;
    
    gap: var(--sp3);
    max-width: 1570px;
    
    border-radius: 50px;
    border: 4px solid var(--greenD)
}

.contHeader {
    background-color: var(--greenM);
    width: 100%;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;
}

.whiteTxt {
    color: white;
}