/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

/*no scroll for reduced motion*/
@media screen and (prefers-reduced-motion: reduce) {
    *{
        scroll-behavior: auto;
    }
}

/*variable definitions*/
:root{
    /*colours [l - light, m - medium, d - dark, b - bold]*/
    --greenL: #e3fde3;
    --greenM: #3b5f35;
    --greenD: #294a23;

    --redL: #ffe5e5;
    --redM: #5f3535;
    --redD: #4e1f1f;
    --redB: #892624;

    --blueL: #d4efff;
    --blueM: #355167;
    --blueD: #1f3b4e;

    --yellowL: #ffeeda;
    --yellowB: #bf6600;

    --purpleL: #e7d4ff;
    --purpleM: #49355f;
    --purpleD: #361f4e;

    --grey: #d9d9d9;

    /*text styles*/
    --ff1: "DM Serif Display", perpetua, serif;
    --ff2: "Roboto Mono", "MS Reference Sans Serif", sans-serif;
    
    /*spacings*/
    --sp1: 5px;
    --sp2: 10px;
    --sp3: 20px;
    --sp4: 45px;
    --sp5: 75px;

    /*must be even for line positioning*/
    --dotSize: 8px;
    --dotSizeS: 4px;

    /*font sizes*/
    --xxSmallF: 10pt;
    --xSmallF: 12pt;
    --smallF: 14pt;
    --mediumF: 16pt;
    --largeF: 24pt;
    --xLargeF: 36pt;
}

h1, h2 {
    font-family: var(--ff1);
    font-weight: 100;
}

p { 
    font-family: var(--ff2);
}

/*body variants*/
body {
    padding-top: 5vh;
    padding-bottom: 5vh;
    justify-content: center;

    min-width: 600px;
}

#homeBody {
    background-color: var(--greenL);
}

#aboutBody {
    background-color: var(--redL);
}

#workBody {
    background-color: var(--blueL);
}

#contactBody {
    background-color: var(--purpleL);
}

/*general container classes*/
.container {
    margin: auto;
    
    flex-wrap: wrap;
    
    justify-content: center;
    
    max-width: 95%;
    min-width: 75%;
    
    border-radius: 50px;
}

/*container variants*/
#homeContainer {
    background-color: var(--greenM);
    border: 4px solid var(--greenD);
}

#aboutContainer {
    background-color: var(--redM);
    border: 4px solid var(--redD);
}

#workContainer {
    background-color: var(--blueM);
    border: 4px solid var(--blueD);
}

#contactContainer {
    background-color: var(--purpleM);
    border: 4px solid var(--purpleD);
}

/*navigation bar*/
.navBar {
    width: 100%;
    flex-wrap: wrap-reverse;
    
    gap: 7.5vw;
    
    justify-content: space-evenly;
    
    padding: 0px var(--sp4);
}

.workNav {
    width: 100%;
    flex-wrap: wrap;
    
    gap: 5vw;
    
    justify-content: space-around;
    
    padding: var(--sp1) var(--sp3);

    background-color: var(--blueD);

    position: sticky;
    top: 0;

    z-index: 1;
}

.navAnchor {
    position: relative;
    top: -35px;
}

.navBar a, h1 {
    z-index: 1;
    color: white;
    text-decoration: none;
    font-family: var(--ff1);
    font-size: var(--largeF);
    font-weight: 100;

    display: inline-block;
    vertical-align: middle;

    padding: var(--sp1);
}

.workNav a {
    z-index: 1;
    color: white;
    text-decoration: none;
    font-family: var(--ff2);
    font-size: var(--smallF);
    font-weight: 300;

    display: inline-block;
    vertical-align: middle;
}

nav a:hover {
    text-decoration: underline;
}

nav a.active {
    text-decoration: underline;
}

/*potential future funtionality for creating a responsive nav bar*/

/*.hmIcon {
    display: flex;
    gap: 5px;
}

.hmLine {
    width: 20px;
    height: 2px;
    background-color: white;
    border-radius: 5px;
}*/

/*#homeActive {
    background-color: var(--greenD);
}*/

/*#aboutActive {
    background-color: var(--redD);
}*/

/*#workActive {
    background-color: var(--blueD);
}*/

/*#contactActive {
    background-color: var(--purpleD);
}*/

.contBody {
    background-color: white;
    width: 100%;

    flex-wrap: wrap;
    
    justify-content: center;
    
    /*cheat design until can fix slight pixel issue*/
    border-top-left-radius: 0.75vw;
    border-top-right-radius: 0.75vw;
    
    border-bottom-left-radius: 46px;
    border-bottom-right-radius: 46px;

    border-top: 2px solid var(--grey);

    padding: var(--sp2) var(--sp3);
}

.workBody {
    background-color: white;
    width: 100%;

    flex-wrap: wrap;
    
    justify-content: center;
    
    border-bottom-left-radius: 46px;
    border-bottom-right-radius: 46px;

    border-top: 2px solid var(--grey);

    padding: var(--sp2) var(--sp3);
}


/*home classes*/
.homeTitle {
    margin-left: 0px;
}

/*.homeContent {

}*/

.homeVideos {
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--sp2);
    padding-bottom: var(--sp2);
}

.homeVid video {
    object-fit: cover;
}

.quickLinks {
    padding-top: var(--sp3);
    padding-bottom: var(--sp1);
    
    padding-left: 30px;
    padding-right: 30px;
}

.quickLinks p {
    font-weight: 1000;
}

.workLinks {
    gap: 4vw;
    flex-wrap: wrap;
    justify-content: center;
}

/*about classes*/
.aboutTitle {
    font-size: var(--largeF);
    margin-bottom: var(--sp1);
}

.aboutFooter {
    padding: var(--sp2) 0px;
}

.aboutFooter p {
    font-size: var(--smallF);
}

/*.personalStatement {
    
}*/

.personalStatement p{
    font-size: var(--xSmallF);
    text-align: left;
}

.updatesSection h2{
    font-size: var(--largeF);
}

.uSpacing {
    gap: var(--sp1);
}

.uImage {
    border-radius: 10px;
    border: 2px solid var(--redD);

    height: 150px;
    width: 150px;
}

.uHeader {
    flex-wrap: wrap;
    font-style: italic;
    font-size: var(--smallF);
}

.uText p {
    font-size: var(--xSmallF);
}

.uText {
    width: 100%;
}

/*work classes*/
.pfText{
    width: 100%;
}

.pfText p{
    font-size: var(--xSmallF);
    margin-bottom: 5px;
}

.pfHeader {
    flex-wrap: wrap;
    font-style: italic;
    font-size: var(--mediumF);
}

.pfTag {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.pfTag span{
    background-color: var(--yellowL);
    border-radius: 5px;

    font-style: italic;
    padding: 0px 3px 1px;

    word-spacing: -2px;
    font-size: var(--xSmallF);
}

.pfImages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    gap: 15px;

    margin-top: var(--sp1);
    margin-bottom: var(--sp2);
}

.pfImages img{
    width: 320px;
    height: 180px;

    border-radius: 10px;

    object-fit: cover;
    overflow: hidden;
}

.pfContainer{
    transition: filter 0.4s, transform 0.4s;

    display: flex;
    align-items: center;
}

.pfContainer:hover {
    transform: scale(0.95);
}

.pfContainer:hover .imgTxt {
    opacity: 1;
}

.pfContainer:hover img{
    filter: brightness(0.15);
}

.imgTxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    opacity: 0;
}

.imgPadding {
    opacity: 0;
}

/*modal portfolio classes*/
#modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: rgba(0,0,0,.5);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.modalWindow {
    position: relative;

    background-color: var(--blueM);
    border: 4px solid var(--blueD);

    border-radius: 20px;

    max-width: 85%;
}

.modalTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: var(--sp1) var(--sp2);
}

.modalTitle h2 {
    font-size: var(--largeF);
    color: white;
}

.modalClose {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: var(--largeF);

    user-select: none;
}

#modal:not(:target) {
    visibility: hidden;
    opacity: 0;
}

.modalBody {
    background-color: white;

    width: 100%;

    border-top: 2px solid var(--grey);

    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    padding:var(--sp2);

    padding-bottom: 10px;

    display: flex;
    flex-direction: row;
    gap: var(--sp2);
}

.modalBodyLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalVideo {
    width: 640px;
    height: 360px;
    
    scrollbar-width: thin;
    scrollbar-color: var(--blueD) white;

    align-items: center;
    padding-bottom: var(--sp1);
}

.modelUnderVideo {
    width: 100%;
}

.modalTag {
    display: flex;

    gap: 5px;

    padding-bottom: 5px;
}

.modalTag span{
    background-color: var(--yellowL);
    border-radius: 5px;

    font-style: italic;
    font-size: x-small;
    padding: 0px 3px 1px;

    word-spacing: -2px;
    font-size: var(--smallF);
}

.modalBodyRight {
    max-height: 210px;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: var(--blueD) white;
}

.modalBodyRight p {
    font-size: var(--smallF);
}

.modalBodyRight a {
    color: var(--yellowB);
}

.cardTopInfo {
    font-style: italic;
    font-weight: 1000;
}

/*contact classes*/
#contactBody {
    text-align: center;
}

.contBody h2 {
    font-size: var(--xLargeF);
}

.contBody p {
    font-size: var(--mediumF);
}

/*text styles*/

.whiteTxt {
    color: white;
}

.yellowTxt {
    color: var(--yellowB);
    font-weight: 1000;
}

.redTxt {
    color: var(--redB);
    font-weight: 1000;
    text-decoration: none;
}

.centerTxt {
    text-align: center;
}

.leftTxt {
    text-align: left;
}

.rightTxt{
    text-align: right;
}

/*line dot decorations*/
.dot {
    height: var(--dotSize);
    width: var(--dotSize);

    border-radius: 50px;
}

.dotS {
    height: var(--dotSizeS);
    width: var(--dotSizeS);

    border-radius: 50px;
}

.line {
    height: 2px;

    border-radius: 50px;
    
    margin: calc((var(--dotSize) / 2) - 1px) 4px;
}

.lFlex {
    flex: 1;
}

/*colour classes*/
.darkGreen {
    background-color: var(--greenD);
}

.darkRed {
    background-color: var(--redD);
}

.darkBlue {
    background-color: var(--blueD);
}

.darkPurple {
    background-color: var(--purpleD);
}

/*gap spacings*/
.gap5 {
    margin: var(--sp1)
}

.gap10{
    margin: var(--sp2);
}

.gap20 {
    margin: var(--sp3);
}

.gap45 {
    margin: var(--sp4);
}

.gap75 {
    margin: var(--sp5);
}

@media (max-width: 675px) {
    .uDots update-section {
        display: none;
    }
}

@media (max-width: 933px) {
    .pfImages{
        justify-content:center;

        gap: 15px 45px;
    }

    .imgPadding {
        display:none;
    }

    .portfolioTag {
        display: none;
    }
}


/*future small screen functionality for when can get responsive nav bar to work*/
/*@media (max-width: 534px) {
    .pfTag {
        justify-content: center;
    }

    .pfHeader {
        justify-content: center;
    }

    .pfText p {
        text-align: center;
    }

    .pfImages{
        justify-content: center;
    }

    .pfImages img{
        width: 120px;
        height: 68px;
    }

    .imgTxt {
        font-size: xx-small;
    }

    .imgPadding {
        display:none;
    }
}*/

/*flex directions and alignments*/
.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.rRow {
    display: flex;
    flex-direction: row-reverse;

    text-align: right;
}

.rColumn {
    display: flex;
    flex-direction: column-reverse;
}

.center{
    align-items: center;
}

.autoMargin {
    margin: auto;
}

.spaceBtwn {
    width: 100%;
    justify-content: space-between;
}